.blog-container {
  display: flex;
  justify-content: space-between;

  .blog-container__item {
    width: 45%;
    border: 1px solid lightgray;
    border-radius: 30px;
    margin: 12px;
    display: flex;
    padding: 16px 12px 0px 6px;
  }
  .blog-container__item--img {
    width: 35%;
  }
  .blog-container__item--text__title {
    font-weight: 600;
    // padding: 16px 0 16px;
    // border-bottom: 1px solid lightgray;
    text-align: center;
  }
  .blog-container__item--text__summary {
    text-align: center;
    padding: 12px;
    color: #696969;
    margin: 12px 0;
  }
  .blog-container__item--text__link {
    text-align: center;
    margin-bottom: 12px;
    a {
      color: #47da54;
      font-weight: 600;
    }
  }
}
@media screen and (max-width: 768px) {
  .blog-container__item--img {
    display: none;
  }
}
