
.contact {
  display: flex;
  justify-content: space-around;
  padding-top: 24px;

  .contact-items {
    width: 20%;
    line-height: 1.5em;

    h1 {
      color: $brand-color;
    }
    p {
      padding: 6px;
      margin: 6px;
    }

    .contact-info {
      margin-left: 12px;
    }
  }

  .form-block {
    width: 40%;

    input {
      width: 95%;
      margin-bottom: 6px;
      padding: 5px;
      font-size: 16px;
    }
    textarea {
      width: 95%;
      margin-bottom: 6px;
      padding: 5px;
      font-size: 16px;
    }

    button {
      width: 95%;
      background: #47da54;
      padding: 5px;
      border: none;
      border-radius: 50px;
      margin-bottom: 24px;
      margin-top: 6px;
      color: white;
      font-size: 19px;
      font-weight: 600;
    }
  }
}

