.container-nota {
  width: 70%;
  margin: auto;
  text-align: justify;

  img {
    width: 40%;
    margin: 24px 0;
  }

  h2,
  h3,
  h4 {
    color: #333333;
  }
  h3 {
    padding: 12px 0;
  }
  p {
    color: #696969;
    padding: 12px 0;
  }
  
} 
