.tienda-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 12px;
  width: 100%;
  margin-top: 24px;

  .select-cat {
    height: 300px;
    position: sticky;
    top: 36px;
    
    a {
      text-decoration: none;
    }

    .links-tienda:hover {
      color: #47da54
    }
    .links-tienda {
      margin: 6px 0px;
    }

    h3 {
      color: #47da54;
    }
    
  }

  .tarj-prod {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 75%;
  }

  .producto {
    // flex-direction: column;
    // display: flex;
    width: 250px;
    text-align: center;
    margin: 12px;
    border: 1px solid lightgray;
    border-radius: 20px;
    overflow: hidden;
    // font-size: 1vw;

    .name,
    .price {
      display: block;
    }

    .price {
      color: #47da54;
      font-weight: 600;
      font-size: 20px;
    }

    .btn-product {
      margin: 12px;
      background-color: white;
      border: 2px solid #47da54;
      border-radius: 50px;
      padding: 6px;
    }

    .btn-product:hover {
      background-color: #47da54;
      transition-duration: 0.4s;
      color: white;
      font-weight: 600;
      padding: 6px 12px;
      letter-spacing: 2px;
    }
  }
}
.more {
  display: flex;
  justify-content: center;
  .btn {
    margin: 12px;
    background: #47da54;
    border: none;
    padding: 12px;
    border-radius: 20px;
    color: white;
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .barra {
    input {
      display: none;
    }
  }

  .barra button {
    display: none;
  }
  .contenedor {
    font-size: 20px;
  }

  .banner {
    padding: 0px;
  }

  .tienda-box {
    .tarj-prod {
      width: 60%;
    }
  }
}
